html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
    --sidebar-w: 250px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Big Noodle Titling';
  src: url('./assets/fonts/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}